@use '@styles/declare/_declare.scss' as *;

.select {
    &:not(:first-child) {
        margin-top: 8px;
    }

    & > h2 {
        font-weight: 500;
        font-size: 15px;
        color: $color-textSupporting;
    
        margin-bottom: 4px;
    }

    & > select {
        border-radius: 4px;
        background-color: $color-misExtra;
        
        height: 30px;
        width: 100%;

        padding: 0 10px;

        color: #D4D4D4;
        border: none;

        font-size: 13px;
        border-right: 10px solid transparent;
    }
}

.category {
    display: flex;
    align-items: center;
    
    width: 100%;

    & > .check {
        width: 20px;
        height: 20px;
    }

    & > label {
        flex-grow: 1;
        
        color: $color-white;
        font-size: 14px;
    
        margin-left: 6px;
    }
    
    &:not(:first-child) {
        margin-top: 8px;
    }
}