@use '@styles/declare/_declare.scss' as *;

.main {
    height: calc(100dvh - 60px);
    margin-top: -30px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    & > img {
        height: 120px;
        margin-bottom: 3px;
        opacity: 0.3;
    }

    & > p {
        color: $color-textSupporting;
        font-size: 16px;

        & > span {
            font-size: 11px;
            font-weight: 500;
            color: $color-textShy;
        }
    }
    
    & > .home {
        @include base_button;
        margin-top: 15px;
    }
}