VITE_OAUTH_GGM_URL=
VITE_OAUTH_GGM_REDIRECT_URL=
VITE_SENTRY_DSN=
VITE_SENTRY_RELEASE=ggm-assets-frontend@unknown

# sentry-cli (소스맵 업로드)
SENTRY_URL=
SENTRY_ORG=
SENTRY_PROJECT=ggm-assets-frontend
SENTRY_AUTH_TOKEN=
