@use '@styles/declare/_declare.scss' as *;

.contentHead {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 15px;

    & > article {
        display: flex;
        align-items: center;
        
        gap: 0 10px;

        & > h1 {
            color: $color-white;
            font-size: 22px;
            font-weight: 500;
        }

        & > img {
            width: 25px;
            height: 25px;
        }
    }
}

.selectHead {
    display: flex;
    justify-content: space-between;
    
    padding: 8px 10px;
    background-color: $color-mist;

    border-radius: 5px;

    margin-bottom: 15px;
    
    & > article {
        display: flex;
        align-items: center;
    
        &.right {
            gap: 0 6px;
        }

        &.left {
            gap: 0 10px;
        }
    }

    & .amount {
        color: $color-white;
        font-size: 14px;
    }

    & .download {
        background-color: $color-primary;
    }
    & .remove {
        background-color: $color-alert;
    }

    & button:disabled {
        background-color: $color-misExtra;
        color: $color-textSupporting;
        font-weight: 500;
        cursor: initial;
    }
}

.selectable {
    padding: 20px;
    border-radius: 10px;

    border: 2px solid transparent;

    &:hover {
        background-color: $color-mist;
    }

    &.selected {
        background-color: rgba($color: $color-primary, $alpha: 0.1);
        border-color: $color-primary;
    }

    transition: background-color 200ms, border-color 200ms;
}