@use '@styles/declare/_declare.scss' as *;

.contentHead {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 15px;

    & > article {
        display: flex;
        align-items: center;
        
        gap: 0 10px;

        & > h1 {
            color: $color-white;
            font-size: 22px;
            font-weight: 500;
        }

        & > img {
            width: 25px;
            height: 25px;
        }
    }
}

.selectHead {
    display: flex;
    justify-content: space-between;
    
    padding: 8px 10px;
    background-color: $color-mist;

    border-radius: 5px;

    margin-bottom: 15px;
    
    & > article {
        display: flex;
        align-items: center;
    
        &.right {
            gap: 0 6px;
        }

        &.left {
            gap: 0 10px;
        }
    }

    & .amount {
        color: $color-white;
        font-size: 14px;
    }

    & .download {
        background-color: $color-primary;
    }
    & .remove {
        background-color: $color-alert;
    }
    & .tag {
        position: relative;
        background-color: $color-idle;
    }

    & button:disabled {
        background-color: $color-misExtra;
        color: $color-textSupporting;
        font-weight: 500;
        cursor: initial;
    }

    & .tagMenu {
        position: absolute;
        bottom: -5px;
        left: 50%;
        
        transform: translate(-50%, 100%);

        width: 150px;
        height: auto;
        padding: 13px;
        
        border-radius: 8px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        background-color: $color-mist;

        cursor: initial;

        z-index: 1;

        & > .tag {
            width: 100%;
            padding: 0;

            display: flex;
            align-items: center;
            gap: 0 8px;

            background-color: transparent;
            border: none;

            font-size: 14px;
            color: $color-white;

            &:not(:first-child) {
                margin-top: 9px;
            }

            & > .status {
                $size: 20px;

                flex-shrink: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                
                width: $size;
                height: $size;
                border-radius: 50%;

                border: 1px solid;
                border-color: transparent;
                
                background-color: #FF8800;

                & > img {
                    height: 2px;
                }
            }
        }
    }
}

.selectable {
    padding: 20px;
    border-radius: 10px;

    border: 2px solid transparent;

    &:hover {
        background-color: $color-mist;
    }

    &.selected {
        background-color: rgba($color: $color-primary, $alpha: 0.1);
        border-color: $color-primary;
    }

    transition: background-color 200ms, border-color 200ms;
}