@use '@styles/declare/_declare.scss' as *;

.compatibility {
    margin-top: 2px;

    & > .fill {
        width: 100%;
        display: flex;
        
        & > div {
            width: 100%;
        }
    }

    & > .head > div {
        font-size: 16px;
        font-weight: 500;

        color: $color-textSupporting;
    }

    & > .item {
        display: flex;
        align-items: center;

        margin-top: 10px;

        & > .version {
            color: $color-white;
            font-size: 15px;
        }
    }

    & .check {
        display: flex;
        align-items: center;

        gap: 0 8px;

        & > .icon {
            $size: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            background-color: $color-textSupporting;

            padding: 5px;

            & > img {
                display: block;

                width: $size;
                height: $size;
            }

            &.success {
                background-color: $color-success;
            }
        }

        & > p {
            color: $color-white;
            font-size: 15px;
        }
    }
}