@use '@styles/declare/_declare.scss' as *;

.compatibility {
    & > .fill {
        width: 100%;
        display: flex;
        
        & > div {
            width: 100%;
        }
    }

    & > .head > div {
        font-size: 16px;
        font-weight: 500;

        color: $color-textSupporting;

        margin-top: 2px;
    }

    & > .item {
        display: flex;
        align-items: center;

        margin-top: 10px;

        & > .version {
            color: $color-white;
            font-size: 15px;
        }

        & > .check {
            display: flex;
            align-items: center;

            gap: 0 8px;
    
            & > .icon {
                $size: 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: $color-success;

                padding: 5px;

                & > img {
                    display: block;

                    width: $size;
                    height: $size;
                }
            }

            & > p {
                color: $color-white;
                font-size: 15px;
            }
        }
    }

}