@use '@styles/declare/_declare.scss' as *;

.main {
    @include screen_container(1500px);

    position: relative;
    z-index: 1;
}

.bg_blur {
    $blur-height: 500px;

    width: 100%;
    height: $blur-height;
    margin-bottom: -$blur-height;
    
    display: block;
    
    position: relative;
    object-fit: cover;

    z-index: 0;
    
    opacity: 0.5;
    filter: blur(100px);
}

.head {
    margin-bottom: 20px;

    & > h1 {
        color: $color-white;
        font-size: 28px;
        margin-bottom: 2px;
    }

    & > .category {
        display: flex;
        align-items: center;

        gap: 0 8px;

        & > a {
            color: $color-text;
            font-size: 15px;
        }

        & > .line {
            background-color: $color-textSupporting;
            width: 1px;
            height: 13px;
        }
    }
}

.preview_main {
    width: 100%;
    height: auto;

    gap: 0 25px;

    display: flex;
    align-items: start;
}

$info-width: 350px;
.info {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;

    width: $info-width;
    height: auto;
    
    padding: 20px;

    background-color: $color-foreground;
    
    border: 1px solid $color-misExtra;
    border-radius: 8px;
    
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.3);

    & > .box {
        width: 100%;
        
        display: flex;
        justify-content: space-between;

        & > h3 {
            font-size: 14px;
            font-weight: 500;
            color: $color-textSupporting;
        }

        & > div, a {
            font-size: 14px;
            font-weight: 300;
            color: $color-white;
        }

        & > a {
            color: $color-primary;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    & > .interactions {
        display: flex;
        margin-top: 20px;
        
        gap: 0 13px;

        & > .download {
            font-size: 16px;
            font-weight: 500;
            text-align: center;

            border: none;
            border-radius: 3px;

            padding: 9px 0;

            flex-grow: 1;
            
            color: $color-white;
            // background-color: $color-primary;
            background-color: #3578FF;
        }
    }
}

.gallery {
    position: relative;

    flex-grow: 1;
    flex-shrink: 1;
    
    width: 0;

    & > .viewer {
        position: relative;

        width: 100%;
        height: auto;

        aspect-ratio: 16/9;

        margin-bottom: 10px;

        box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;

        overflow: hidden;
        // border: 1px solid red;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & > iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        & > .arrow_btn {
            position: absolute;

            top: 50%;
            left: 13px;
            
            transform: translateY(-50%);

            padding: 10px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            
            border: none;
            border-radius: 50%;
            
            & > img {
                width: 20px;
                height: 20px;

                display: block;
            }

            &.right {
                left: initial;
                right: 13px;

                & > img {
                    transform: rotateZ(180deg);
                }    
            }
        }
    }

    & > .list {
        width: 100%;
        // width: 100px;
        gap: 0 10px;

        display: flex;
        flex-wrap: nowrap; 
        
        // 가로 스크롤
        flex-wrap: no-wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        
        & > .box {
            width: 160px;
            height: 90px;

            padding: 0;
            border: none;

            // 가로 스크롤
            flex: 0 0 auto;

            border-radius: 3px;
            overflow: hidden;

            background-color: #000000;

            &.disable {
                opacity: 0.3;
            }

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.more {
    margin: 40px 0;

    & > section {
        // 제목
        & > h2 {
            font-size: 25px;
            color: $color-white;
        }

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    & .default_words {
        font-size: 15px;
        font-weight: 300;
        color: $color-text;
        
        margin-top: 5px;

        & > .viewer {
            & a {
                color: $color-primary;
                font-weight: 400;
            }
            & img {
                max-width: 100%;
            }
        }
    }

    & .pre {
        white-space: pre-line;
    }
}

.loading {
    & > .head {
        & > .title {
            width: 500px;
            height: 30px;
            border-radius: 5px;
        }
        & > .sub {
            margin-top: 8px;
            width: 300px;
            height: 15px;
        }
    }

    & > .preview_main {
        & > .gallery {
            & > .viewer {
                box-shadow: none;
            }
        }

        & > .info {
            width: $info-width;
            height: 200px;

            border: none;
            box-shadow: none;
            border-radius: 5px;
        }
    }
}